include README.md
include LICENSE
include requirements.txt
recursive-include gil_py *.py
recursive-include gil_py *.yaml
recursive-include gil_py *.yml
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * *~
